<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ITFB Group - компетенции специалистов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../resources/static/css/style.css"/>
    <style>
        body {
            background-color: #f1f1f1;
        }

        .container {
            width: 600px;
            padding: 20px;
            margin: 0 auto;
            background-color: #ffffff;
            position: absolute;
            left: 30%;
            top: 20%;
            border-top: 6px solid #481cff;
        }

        /*.category {*/
        /*background-color: #090fe6;*/
        /*color: white;*/
        /*}*/

    </style>
</head>
<body>

<div class="container">
    <h1>ITFB Group - компетенции специалистов</h1>
    <!--<form method="post">-->
    <div class="table-responsive">
        <div id="questions" th:each="category,iterStat : ${categories}">
            <div class="category">
                <h2 th:text="${category.categoryName}"></h2>
            </div>
            <div th:id="${iterStat.count}" >
                <div th:each="subcategory : ${category.subCategories}">
                    <p th:text="${subcategory.getName()}"></p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-4"></th>
                            <th class="col-md-2"><b>No</b></th>
                            <th class="col-md-2"><b>Begin</b></th>
                            <th class="col-md-2"><b>Basic</b></th>
                            <th class="col-md-2"><b>Advanced</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="option : ${subcategory.options}">
                            <td th:text="${option.getOptionName()}"></td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio">
                                </label>
                            </td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio">
                                </label>
                            </td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio">
                                </label>
                            </td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio">
                                </label>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div>
                        <p>
                            Если в списке выше что-то отсутствует из того, что Вы знаете и использовали, то укажите ниже
                            через запятую:
                        </p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Мой ответ" name="additional"/>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="form-group">-->
            <!--<input class="btn" name="submit" type="submit" value="Next"/>-->
            <!--</div>-->
        </div>
        <button class="next">Далее</button>
    </div>
    <!--</form>-->
</div>
</body>

<script>
    $(document).ready(function () {
        $( "#1" ).css( "display", "visi" );
    });
    $(function () {
        $('.next').on('click', function () {
            $('#questions>div').each(function () {
                var id = $(this).index();
                if ($(this).is(':visible')) {
                    $(this).hide();
                    if (id == $('#questions>div').length - 1) {
                        $('#questions>div').eq(0).show();
                    } else {
                        $('#questions>div').eq(id + 1).show();
                    }
                    return false;
                }
            });
        });
    });
</script>

</html>