<!DOCTYPE html>
<html>
<head>
    <title>ITFB Group - компетенции специалистов</title>
    <link rel="stylesheet" href="../../resources/static/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var currentIndexId = 0;
        var categories_id = [[${categoriesId}]];

        $(document).ready(function () {

            getPage(categories_id[0]);

//            if (currentIndexId === Object.keys(categories_id).length - 2) {
//                $("#next_button_id").hide();
//            }
//
//            if (currentIndexId === 0) {
//                $("#previous_button_id").hide();
//                return categories_id[currentIndexId];
//            }

//            $("#next_button_id").on('click', alert(getNextId()));

            $("#next_button_id").on("click", function () {
                getPage(getNextId());
            });
            $("#previous_button_id").on("click", function () {
                getPage(getPreviousId());
            });
            $("#finish_button_id").on("click", function () {
                $("#survey-page").hide();
                $("#main-page").append("<p>Данные сохранены. Спасибо!</p>");
                $("#main-page").append('<a role="button" href="/" class="btn btn-link">Ответить заново</a>');

                createJSON();
            });
        });

        function checkIndex() {
            if (currentIndexId > 0 && !$("#previous_button_id").is(':visible')) {
                $("#previous_button_id").show();
            } else if (currentIndexId === 0) {
                $("#previous_button_id").hide();
            }
            if (currentIndexId === Object.keys(categories_id).length - 1) {
                $("#next_button_id").hide();
                $("#finish_button_id").show();
            } else if (currentIndexId < Object.keys(categories_id).length - 1) {
                $("#next_button_id").show();
                $("#finish_button_id").hide();
            }
        }

        function getPreviousId() {

            return categories_id[--currentIndexId];
        }

        function getNextId() {

            return categories_id[++currentIndexId];
        }

        function createJSON() {
            jsonObj = [];

            $('input[type="radio"]').each(function () {
                if ($(this).prop('checked')) {
                    var id = $(this).attr("id");
                    var value = $(this).val();

                    item = {};
                    item ["id"] = id;
                    item ["value"] = value;

                    jsonObj.push(item);
                }
            });

            console.log(jsonObj);

            $.ajax({
                url: "rest/getAnswer",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'application/json',
                data: JSON.stringify(jsonObj),
                async: false,
                cache: false,
                processData: false,
                success: function (responseJsonObject) {
                    // Success Message Handler
                    console.log(responseJsonObject);
                }
            });
        }

        function getPage(i) {
            checkIndex();
            $("#table_id td").hide();
            $.getJSON("rest/cat/" + i.toString(), function (result) {
                var category_title = result["categoryName"];

                $("#category_id").html(category_title);

                var subCategories = result["subCategories"];

                for (i = 0; i < subCategories.length; i++) {

                    var subcategory_title = result["subCategories"][0]["name"];

                    $("#subcategory_id").html(subcategory_title);

                    $("#form_id").html("<input class=\"form-control\" placeholder=\"Мой ответ\" name=\"additional\"/>");

                    var options = result["subCategories"][i]["options"];

                    var j;

                    for (j = 0; j < options.length; j++) {
                        str1 = options[j]["optionName"];

                        str2 = "<tr><td class='col-md-4'>" + str1 + "</td>";

                        str2 = str2 + "  <td class='col-md-2'> <label style='margin-left: 0px' class='radio'> <input id='" + options[j]["optionId"] + "' type='radio' value='no' name='radio" + options[j]["optionId"] + "'> </label></td>";
                        str2 = str2 + "  <td class='col-md-2'> <label style='margin-left: 0px' class='radio'> <input id='" + options[j]["optionId"] + "' type='radio' value='begin' name='radio" + options[j]["optionId"] + "'> </label></td>";
                        str2 = str2 + "  <td class='col-md-2'> <label style='margin-left: 0px' class='radio'> <input id='" + options[j]["optionId"] + "' type='radio' value='basic' name='radio" + options[j]["optionId"] + "'> </label></td>";
                        str2 = str2 + "  <td class='col-md-2'> <label style='margin-left: 0px' class='radio'> <input id='" + options[j]["optionId"] + "' type='radio' value='advanced' name='radio" + options[j]["optionId"] + "'> </label></td>";

                        str2 = str2 + "</tr>";
                        $("#table_id tr:last").after(str2);
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="container">
    <h1>ITFB Group - компетенции специалистов</h1>
    <div id="main-page">
        <div id="survey-page">
            <div id="questions">
                <div class="category">
                    <h2 id="category_id"></h2>
                </div>
                <div>
                    <div>
                        <!--<div id="subcategory_id">-->

                        <!--</div>-->
                        <table class="table table-stripped" id="table_id">
                            <p id="subcategory_id"></p>
                            <thead>
                            <tr>
                                <th class="col-md-4"></th>
                                <th class="col-md-2"><b>No</b></th>
                                <th class="col-md-2"><b>Begin</b></th>
                                <th class="col-md-2"><b>Basic</b></th>
                                <th class="col-md-2"><b>Advanced</b></th>
                            </tr>
                            </thead>
                        </table>
                        <div>
                            <p>
                                Если в списке выше что-то отсутствует из того, что Вы знаете и использовали, то укажите
                                ниже
                                через запятую:
                            </p>
                            <div class="form-group" id="form_id">
                                <!--<input class="form-control" placeholder="Мой ответ" name="additional"/>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="previous_button_id" class="btn">Назад</button>

                <button id="next_button_id" class="btn">Далее</button>
                <button style="display: none" id="finish_button_id" class="btn btn-primary" name="submit">Отправить
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    body {
        background-color: #f1f1f1;
    }

    .container {
        width: 600px;
        padding: 20px;
        margin: 0 auto;
        background-color: #ffffff;
        position: absolute;
        left: 30%;
        top: 20%;
        border-top: 6px solid #481cff;
    }

    /*.category {*/
    /*background-color: #090fe6;*/
    /*color: white;*/
    /*}*/

    .radio {
        display: inline-block;
        vertical-align: top;
    }

</style>
</html>
