body {
    background-color: #f1f1f1;
}

.container {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
    position: absolute;
    left: 30%;
    top: 20%;
    border-top: 8px solid #0f1fff;
}