body {
    background-color: #ccd1e4;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

img {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 412px;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    position: absolute;
    border-top: 10px solid rgb(53, 131, 221);
    width: 600px;
    margin: 0 auto;
    top: 20%;
    right: 0;
    left: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.radio input[type=radio] {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 15px;
    position: relative;
}

.table-stripped td label.radio {
    margin: 5px auto;
}

.table-stripped td label.radio input {
    margin: 0 auto;
}

th, td {
    text-align: center;
    height: 2.5em;
    padding: 8px 3px 3px 5px;
    vertical-align: middle !important;
    width: 50px;
}

.col-md-4 {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.category {
    background-color: rgb(43, 43, 99);
    color: rgba(255, 255, 255, 1);
    width: 600px;
    color: #fff;
    min-width: 0%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    font: 500 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin-left: -20px
}

.category-stat {
    background-color: rgb(43, 43, 99);
    color: rgba(255, 255, 255, 1);
    width: 1000px;
    color: #fff;
    min-width: 0%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    font: 500 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin-left: -20px
}

.back-image {
    background-image: url('../images/header-it-managed.jpg');
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 1);
    height: 278px;
}

.alert {
    color: red;
}

#logout_btn_id {
    float: right !important;
    color: white;
    font-size: medium;
}

.container-stat {
    padding: 20px;
    background-color: #ffffff;
    position: absolute;
    border-top: 10px solid rgb(53, 131, 221);
    width: 1000px;
    margin: 0 auto;
    top: 20%;
    right: 0;
    left: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}


