<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Компетенции специалистов</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/resources/static/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link rel="shortcut icon" th:href="@{/resources/static/images/favicon.ico}"/>
</head>
<body>
<div>

    <div class="row">
        <div th:replace="fragments :: left-panel-admin"></div>
        <div class="div col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Страница администратора</h1>
        </div>
    </div>

</div>
</body>
</html>
