<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Компетенции специалистов</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/b-1.4.0/b-html5-1.4.0/se-1.2.2/datatables.min.css"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/b-1.4.0/b-html5-1.4.0/se-1.2.2/datatables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script th:src="@{/resources/static/js/adminPage.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/static/css/style.css}">
    <link rel="shortcut icon" th:href="@{/resources/static/images/favicon.ico}"/>
    <script>
        //        var data = {};
        var table;
        var options;

        $(document).ready(function () {
            $('#filter').prop('disabled', true);

//            getDataFromServer();

            getAllCategories();

//            getTable();

            selectionsInitialize();

            selectionEvents();

            $('#filter').click(function () {


                var selectOpt = $('#select-opt').select2('data');
                var options = [];

                for (var i = 0; i < selectOpt.length; i++) {
                    options.push(selectOpt[i].id);
                }

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    type: "POST",
                    url: "rest/get-search-results",
                    data: {
                        options: options
                    },
                    success: function (response) {
                        if (table !== undefined) {
                            table.destroy();
                        }
                        data = response;
                        getTable();
                    },
                    error: function (e) {

                    }, beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                });

            });
        });

        function selectionsInitialize() {

            var i, len = options.length;
            var result = [];
            for (i = 0; i < len; i++) {
                result.push({
                    id: options[i].optionId,
                    text: options[i].optionName
                })
            }

            $('#select-opt').select2({
                data: result,
                multiple: true,
                width: '20%'
            });
        }

        function selectionEvents() {

            $('#select-opt').on('select2:select', function (e) {

                $('#filter').prop('disabled', false);

            });

            $('#select-opt').on('select2:unselect', function (e) {

                if ($('#select-opt').select2('data').length === 0) {
                    $('#filter').prop('disabled', true);
                }
            });
        }

        function getTable() {
            $.fn.dataTable.ext.classes.sPageButton = 'button primary_button';

            table = $('#employees_table_id').DataTable({
                    data: data,
                    columnDefs:
                        [
                            {
                                "render": function (data, type, row) {
                                    if (data === null) {
                                        return row.email;
                                    } else {
                                        return data + ' ' + row.lastName + ' (' + row.email + ')';
                                    }
                                },
                                "targets": 1
                            }
                        ],
                    columns:
                        [
                            {
                                data: null,
                                "orderable": false,
                                "searchable": false,
                            },
                            {data: 'firstName'},
                            {data: 'answer.timestamp'}
                        ],
                    language:
                        {
                            zeroRecords: "Записи отсутствуют.",
                            emptyTable:
                                "В таблице отсутствуют данные",
                            loadingRecords:
                                "Загрузка записей...",
                            search:
                                "Поиск:",
                            paginate:
                                {
                                    previous: "Назад",
                                    next:
                                        "Далее"
                                }
                        }
                    ,
                    createdRow: function (row, data, index) {
                        // if more than half of year
                        if (new Date() - new Date(data.answer.timestamp) > 15552000000) {
                            $('td', row).eq(5).css('color', 'red');
                        }
                    }
                    ,
                    lengthChange: false,
                    pageLength:
                        20,
                    info:
                        false,
                    order:
                        [],
                    dom:
                        "Bfrtip",
                    select:
                        'single',
                    buttons:
                        [
                            {
                                text: 'Посмотреть ответ',
                                className: 'showAnswerButton',
                                action: function (e, dt, node, config) {

                                    var id = table.rows({selected: true}).data()[0].id;

                                    window.location.href = "get-personal-answers?userId=" + id;
                                },
                                enabled: false
                            }
                        ]
                }
            );

            table.on('order.dt search.dt', function () {
                table.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();


            $('#employees_table_id').on('select.dt deselect.dt', function () {
                table.buttons(['.delete', '.showAnswerButton', '.riseToAdminButton', '.riseToModerButton']).enable(
                    table.rows({selected: true}).indexes().length === 0 ? false : true
                );
            });
        }

        function getAllCategories() {
            $.ajax({
                url: "rest/options",
                async: false,
                dataType: "json",
                success: function (d) {
                    options = d;

                }
            });
        }
    </script>
</head>
<body>
<div class="row">
    <div th:replace="fragments :: left-panel-admin"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>Поиск</h1>
        <label for="select-opt">Выберите технологию </label>
        <div class="selectors">
            <select class="select" id="select-opt">
            </select>
        </div>
        <button id="filter" class="btn btn-default">Применить фильтр</button>
        <br>
        <table id="employees_table_id" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Сотрудник</th>
                <th>Дата последнего ответа</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>
