<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Компетенции специалистов</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script th:src="@{/resources/static/js/adminPage.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/static/css/style.css}">
    <link rel="shortcut icon" th:href="@{/resources/static/images/favicon.ico}"/>
    <script>
        var categories_id = [[${categoriesId}]];
        var currentArrIndex = 0;
        var countOfLoadedPages = 0;
        var data = {};

        $(document).ready(function () {

            checkIndexToHideButtons();

            loadPage();

            $("#next_button_id").on("click", function () {

                $("#" + categories_id[currentArrIndex].toString()).hide();

                if (countOfLoadedPages > currentArrIndex) {
                    $("#" + categories_id[++currentArrIndex].toString()).show();
                } else {
                    countOfLoadedPages++;
                    currentArrIndex++;
                    loadPage();
                }
                checkIndexToHideButtons();
                window.scrollTo(0, 0);
                $(".highcharts-credits").hide();
                //            $(".highcharts-button").hide();
                $(".highcharts-axis-title").hide();
                return false;
            });

            $("#previous_button_id").on("click", function () {

                $("#" + categories_id[currentArrIndex].toString()).hide();

                $("#" + categories_id[--currentArrIndex].toString()).show();

                checkIndexToHideButtons();
                window.scrollTo(0, 0);
                return false;
            });

            $(".highcharts-credits").hide();
            //            $(".highcharts-button").hide();
            $(".highcharts-axis-title").hide();

        });



    </script>
</head>
<body>
<div class="row">

    <div th:replace="fragments :: left-panel-admin"></div>
    <div class="div col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>Статистика ответов</h1>
        <div class="chart"></div>
        <div class="buttons">
            <br>
            <button id="previous_button_id" class="btn">Назад</button>
            <button id="next_button_id" class="btn">Далее</button>
        </div>
    </div>
</div>
</body>
</html>
